<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
        <title></title>
        <style>
            body {
  font-family: sans-serif;
  background: rgba(128, 83, 0, 0.253);
}
h2 {
  margin: 5px 0;
}
#wrapper {
  width: 600px;
  margin: 0 auto;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
}
input {
  margin: 5px 10px;
}
button {
  font-size: 18px;
  padding: 10px;
  margin: 20px 0;
  color: white;
  border: 0;
  border-radius: 10px;
  border-bottom: 3px solid #333;
}
#submit {
  background: green;
}
#reset {
  background: red;
}
#answer {
  border: 1px dashed #ccc;
  background: #eee;
  padding: 10px;
}
        </style>

</head>

<body>


  <form action="{% url 'questions' %}">

    {% csrf_token %}

    <div id="wrapper">

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Personality Prediction System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Take Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul> -->
        <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      </div>
    </div>
  </nav>
  <div style="max-width: 500px; margin:auto; font-weight: bold;">
    <h1 class="mx-5 my-3" style="color: #141314f0;">PERSONALITY PREDICTION USING CV</h1>

    <div class="mx-5 d-flex p-2 bd-highlight">
      <form>
        <!-- <div class="mb-3" style="color:#e3f2fd;>
        <label for=" exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3" style="color:#e3f2fd;">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3" style="color:#e3f2fd;">
          <label for="02" class="form-label">Username</label>
          <input type="text" class="form-control" id="02">
        </div> -->
        <div class="mb-3" style="color: #333;">
          <label for="01" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="01">
        </div>
        
        <div class="mb-3" style="color: #333;">
          <label for="formFile" class="form-label">Resume</label>
          <input class="form-control" type="file" id="formFile">
        </div>

        <button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>
        <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
    
      </form>
    </div>
  </div>
  </div>
</body>

</html>
